name = "cf-chat"
main = "src/worker.js"
compatibility_date = "2024-01-01"

# Workers 配置
workers_dev = true

[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" }
]

[[migrations]]
tag = "v1"
new_classes = ["ChatRoom"]
